h2,
h3 {
    text-align: center;
}

.carta {
    height: 220px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px 0px 10px 0px;
}

.adaptada {
    height: 250px;
}

.tipoClase,
.turnos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* From cssbuttons.io */

.btn_reserva {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.btn_reserva:active,
.btn_reserva:hover {
    outline: 0;
}

.btn_reserva span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.btn_reserva:hover span {
    background: none;
}

.btn_reserva:active {
    transform: scale(0.9);
}


/* From cssbuttons.io */

.btn_turno {
    margin: 10px 0px 10px 0px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn_turno:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.btn_turno:active {
    transform: translateY(-1px);
}