.infoContacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ubicacionMaps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ubicacionMapsGoogle {
    width: 500px;
    height: 200px;
}

.info {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.formulario {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
}